{
  "builders": [
    {
      "type": "vmware-iso",
      "boot_command": [
        "<rightShift><enter><f6><esc><wait1s><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "/casper/vmlinuz ",
        "autoinstall ",
        "initrd=/casper/initrd quiet ",
        "grub-installer/bootdev=/dev/sda ",
        "net.ifnames=0 biosdevname=0 ",
        "ds=nocloud-net;s=http://{% raw %}{{ .HTTPIP }}:{{ .HTTPPort }}{% endraw %}/ ---<enter>"
      ],
      "boot_key_interval": "10ms",
      "boot_wait": "3s",
      "communicator": "none",
      "disk_size": {{image_config.disk_size_mb}},
      "disk_type_id": "thin",
{#      "floppy_dirs": "./{{os_id}}/*",#}
{#      "floppy_label": "CIDATA",#}
      "format": "vmx",
      "guest_os_type": "{{base_os[os_id].type.esxi}}",
      "headless": true,
      "http_directory": "./{{cloud_type}}__{{os_id}}",
      "insecure_connection": true,
      "iso_checksum": "{{base_os[os_id].iso_checksum | default("none")}}",
      "iso_url": "{{base_os[os_id].iso_url | basename}}",
      "keep_registered": true,
      "remote_datastore" : "{{image_config.esxi.datastore}}",
      "remote_host": "{{image_config.esxi.host}}",
      "remote_password": "{{image_config.esxi.password}}",
      "remote_type": "esx5",
      "remote_username": "{{image_config.esxi.username}}",
      "shutdown_command": "#dummy_to_prevent_packer_doing_forcible_poweroff",
      "shutdown_timeout": "15m",
      "skip_compaction": false,
      "skip_export": true,
      "skip_validate_credentials": true,
      "version": "{{image_config.esxi.hw_version}}",
      "vm_name": "{{image_name}}",
      "vmx_data": {
        {% if 'ethernet0_macAddress' in image_config.esxi -%}
        "ethernet0.address": "{{image_config.esxi.ethernet0_macAddress}}",
        "ethernet0.addressType": "static",
        "ethernet0.CheckMACAddress": false,
        {% endif -%}
        "disk.EnableUUID": true,
        "ethernet0.networkName": "{{image_config.esxi.ethernet0_networkName}}",
        "ethernet0.present": true,
        "ethernet0.uptCompatibility": true,
        "ethernet0.virtualDev": "vmxnet3",
        "memsize": "{{image_config.memory_mb}}",
        "numvcpus": "{{image_config.cpus}}",
        "vhv.enable": true
      },
      "vnc_disable_password": true,
      "vnc_over_websocket": true
    }
  ]
}
