{
  "builders": [
    {
      "type": "vmware-iso",
      "boot_command": [
        "<enter><f6><esc><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs> ",
        "/install/vmlinuz ",
        "auto ",
        "console-setup/ask_detect=false ",
        "console-setup/layoutcode=gb ",
        "console-setup/modelcode=pc105 ",
        "debconf/frontend=noninteractive ",
        "debian-installer=en_GB ",
        "fb=false ",
        "initrd=/install/initrd.gz ",
        "locale=en_GB.UTF-8 ",
        "netcfg/get_hostname={{base_os.id}}-template ",
        "grub-installer/bootdev=/dev/sda ",
        "debian-installer/add-kernel-opts string net.ifnames=0 biosdevname=0 ",
        "ks=floppy:/{{kickstartfile_fname}} ---<enter>"
      ],
      "boot_key_interval": "10ms",
      "boot_wait": "10s",
      "disk_size": {{packer_info.disk_size}},
      "disk_type_id": "thin",
      "floppy_files": ["{{kickstartfile_fname}}"],
      "format": "vmx",
      "guest_os_type": "{{base_os.type}}",
      "headless": true,
      "iso_checksum": "{{base_os.iso_checksum | default("''")}}",
      "iso_checksum_type": "{{base_os.iso_checksum_type}}",
      "iso_url": "{{base_os.iso_url | basename}}",
      "keep_registered": true,
      "remote_datastore" : "{{esxi.datastore}}",
      "remote_host": "{{esxi.host}}",
      "remote_private_key_file": "./esxi_private_key",
      "remote_type": "esx5",
      "remote_username": "{{esxi.username}}",
      "shutdown_command": "sudo shutdown -h now",
      "skip_compaction": true,
      "skip_export": true,
      "ssh_username": "shutdown",
      "ssh_private_key_file": "./id_rsa_shutdown",
      "ssh_port": 22,
      "ssh_wait_timeout": "10000s",
      "version": "{{packer_info.hw_version}}",
      "vm_name": "{{packer_info.img_name}}",
      "vmx_data": {
        {% if 'ethernet0_macAddress' in packer_info.vmx_data -%}
        "ethernet0.address": "{{packer_info.vmx_data.ethernet0_macAddress}}",
        "ethernet0.addressType": "static",
        "ethernet0.CheckMACAddress": false,
        {% endif -%}
        "ethernet0.networkName": "{{packer_info.vmx_data.ethernet0_networkName}}",
        "ethernet0.present": true,
        "ethernet0.uptCompatibility": true,
        "ethernet0.virtualDev": "vmxnet3",
        "memsize": "{{packer_info.vmx_data.memsize}}",
        "numvcpus": "{{packer_info.vmx_data.numvcpus}}",
        "vhv.enable": true
      },
      "vnc_disable_password": true
    }
  ]
}
